{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Glob</title>
    <!--css here-->
    <link rel="stylesheet" href="{% static 'GLOB/css/style.css' %}">
    <!--icon & font css-->
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">
    <link href="https://fonts.googleapis.com/css2?family=Asul:wght@400;700&family=Varela+Round&display=swap" rel="stylesheet">
</head>
<body>

<section class="form_section">

    <div class="container form_section-container">
        <h2>Sign up</h2>
        <form action="{% url 'register' %}" method="post">
            {% csrf_token %}
            <input name="fname" type="text" placeholder="First Name">
            <input name="lname" type="text" placeholder="Last Name">
            <input name="email" type="email" placeholder="e-mail">
            <input name="username" type="text" placeholder="Username">
            <input name="pwd" type="text" placeholder="Password">
            <input name="cpwd" type="text" placeholder="Confirm Password">
            <button class= "btn" type="submit">Sign Up</button>
            <small>Already have an account?! <a href="{% url 'login' %}">Sign In</a></small>
        </form>
    </div>
</section>

</body>
</html>